{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "parser": "babel",
        "printWidth": 120,
        "semi": true,
        "useTabs": false,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "jsxBracketSameLine": true
      }
    ]
  }
}
