$color-body-font: #E5E5E6;
$color-primary: #54a2f0;
$color-bg: #282C35;
$color-gray-mid: #6D7C8B;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 720px,
  xl: 720px
);

@font-face {
  font-family: 'Circular';
  font-display: swap;
  src: url('../assets/fonts/circular-book.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular';
  font-display: swap;
  src: url('../assets/fonts/circular-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Circular';
  font-display: swap;
  src: url('../assets/fonts/circular-light.woff') format('woff');
  font-weight: 300;
}
